[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openlut = "*"
exif = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
plotly = "==5.5.0"
pandas = "*"
formation-studio = "*"
dash = "*"
kivy = {extras = ["base"], version = "*"}
kivy-examples = "*"

[dev-packages]

[requires]
python_version = "3.8"
