[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openlut = "*"
exif = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
plotly = "==5.5.0"
pandas = "*"
formation-studio = "*"
dash = "*"
kivy-examples = "*"
cython = "*"
fastapi = {extras = ["all"], version = "*"}
monkeytype = "*"
rawpy = "*"
imageio = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9.9"
